# Environments & Credentials
.venv/
**/ .venv/
common/auth/.env
common/auth/credentials.json

# Test Results & Artifacts
TestResult/
screenshots/
log.html
output.xml
report.html
PIPE
**/log.html
**/output.xml
**/report.html

# Python
__pycache__/
**/*.pyc