# Environments & Credentials
.venv/
**/ .venv/
common/auth/.env
common/auth/credentials.json

# Test Results & Artifacts
TestResult/
test-results/
allure-results/
allure-report/
screenshots/
log.html
output.xml
report.html
PIPE
**/log.html
**/output.xml
**/report.html
interactive_console_output.xml

# Python
__pycache__/
**/*.pyc
.pytest_cache

# Playwright & Self-Healing Artifacts
automation/web/playwright/self_healing/error_artifacts/
**/error_artifacts/

# Appium
appium_server.log



# # ETC
# plan.txt